/*
  Stylesheet for index.html
*/

/*************************************************************************************************************/

/* MAIN CONTENTS */

/* Data Download */
#data-download {
  border-radius: 1vw;
  box-sizing: border-box;
  color: white;
  font-size: 1.2rem;
  left: 1vw;
  padding: min(1vw, 2vh);
  position: absolute;
  text-align: center;
  text-decoration: none;
  top: 15vh;
  width: 15vw;
  z-index: 2;
}

/* Lecture */
#lecture { 
  height: 93vh;
  min-width: 1000px;
  opacity: 1;
  transition: opacity 300ms ease-in-out;
  width: 100%;
}
#lecture.blurred {
  filter: blur(1px);
  height: 90vh;
}
#lecture.fade { opacity: 0; }

/* Lecture Navigation */

.nav-btn {
  bottom: 5vh;
  font-size: 0.8rem;
  max-width: 15vw;
  position: fixed;
  z-index: 2;
}
#prev-btn { left: 2vw;
}
#next-btn { right: 2vw; }